<!doctype html>
<html>

	<head>
		<title> NAME OF PROJECT 
			{% block title %}{% endblock %}
		</title>
		  <script
		    src="https://code.jquery.com/jquery-3.4.1.js"
		    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
		    crossorigin="anonymous"></script>

		{% block head %}
			
		{% endblock %}
	</head>
	<body>
		{% for msg in get_flashed_messages() %}
		<p class="flash-msg"> {{msg}} </p>
		{% endfor %}
		<p>  </p>
		{% block body %}{% endblock %}	

	</body>
</html>