{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block head %} 
	
<!-- If user logged in say hello and show link to user faves, otherwise show login link
-->
<div class="top">
	<div class="title">  Fresh & Whole </div>
<!-- 	<div> Curated </div> -->
</div>


	<nav class="navbar sticky-top navbar-light navbar-expand-lg top">
<!-- 	  <a class="navbar-brand" href="#"></a> -->


		{% if 'logged_in' in session %}

			
			<div> <input type="text" placeholder="Search by Ingredient..." id="ingredient_filter"> </div>

			<div class="nav-link ml-auto"> Hi, {{session['name']}} </div>
			<div class="nav-link"><a href = "/faves"> My Favorites</a></div>
			<div class="nav-link"><a href = "/log_out"> Logout </a></div>	

		{% else %}

			<div class="nav-link ml-auto"> <a href = "/login" > Login </a></div>
			<div> or </div>
			<div class="nav-link"><a href = "/create_login"> Create Account </a> </div>
		{% endif %}

	</nav>


{% endblock %}
{% block body %}


<h2> Explore New Recipes </h2>

<!-- <p></p>
<div> <input type="text" placeholder="Search by Ingredient..." id="ingredient_filter"> </div>
<p></p>
 -->
<!-- for each recipe in db create a recipe card  
Each recipe card link to page with all recipe details
User can favorite recipe cards
-->


<!--  <div class="card-deck"> -->
<div class="row row-cols-1 row-cols-md-3 card-container">
	{% for recipe in recipes %}
		<div class="col mb-4">
			<div class="card">
			  <a href="/{{recipe.recipe_id}}">
			  <img src="{{recipe.image}}" class="card-img-top" >
			  </a>
			  <div class="card-body" >
			    <h5 class="card-title"> {{recipe.recipe_name}} </h5>
			    <h6 class="card-subtitle mb-2 text-muted">Source: {{recipe.source_name}}</h6>

			    <p class="card-text">
			    	Ingredients: 
					  {% for recipe_ingredient in recipe.recipe_ingredients %}
					  {{recipe_ingredient.ingredient.ingredient_name}}{{"," if not loop.last}}     
					  {% endfor %}


			    </p>

			    {% if 'logged_in' in session %}
				    <button type="button" class="btn btn-outline-primary like_btn" name= {{recipe.recipe_id}}> Like It 
				    </button>
			    {% endif %}
			  
			   </div>
			</div>
		</div>
		
	{% endfor %}
</div>

{% endblock %}