{% extends 'base.html' %}

{% block title %} {% endblock %}
{% block head %}  {% endblock %}
{% block body %} 

<body class=".form-background">

<form class="form col-3" action='/log_in_form' method = "POST">

	<h2 class="form-header .font-weight-lighter"> Welcome back! </h2>
  

		<label for="inputEmail" class="sr-only">Email:</label>
 		
 		<input type="text" name="e-mail" class="form-control" id="inputEmail" placeholder="Email address" required autofocus>

 
		<label for="password" class="sr-only">Password:</label>

		<input type="password" name="password" class="form-control" id="password1" placeholder="Password" required autofocus>



    	<button class="sign-in-btn btn btn-lg btn-primary btn-block" type="submit"> Sign In </button>

</form>
</body>
{% endblock %}
