{% extends 'base.html' %}

{% block title %} {% endblock %}
{% block head %}  {% endblock %}
{% block body %} 

<div class="big-card-container">
<!-- 	row-cols-md-9 -->
<!-- <div class="big-card"> -->
	<div class="row form-header justify-content-md-center"> {{recipe.recipe_name}} </div>
	<div class="row justify-content-md-center"> Serves: {{recipe.servings}} </div>
	<div class="row justify-content-md-center"> Source: <a href={{recipe.website}} target="_blank"> {{recipe.source_name}}  </a> </div> 


    <div class="row">	
		<div class="col-4">
			<img class="lrg-img" src="{{recipe.image}}" >
		</div>


		<div class= "col-8">


		


<!-- 		<img class="lrg-img" src="{{recipe.image}}" > -->

			<div class="card-title"> Directions: </div>
			<div class=""> {{recipe.directions}} </div>

			<div class="card-title"> Ingredients: </div>


			{% for recipe_ingredient in recipe.recipe_ingredients %}
				<li class="list-item"> {{recipe_ingredient.amount}} 		
				 		{% if recipe_ingredient.metric != None %}
				 		{{recipe_ingredient.metric}}
				 		{% endif %}
				 		{{recipe_ingredient.ingredient.ingredient_name}} 
				</li>
			{% endfor %}

</div>
</div>
{% endblock %}
