{% extends 'base.html' %}

{% block title %} Your Shopping List {% endblock %}
{% block head %}  {% endblock %}
{% block body %} 
<h2> Your Shopping List and recipes have been sent to your e-mail! </h2>

<div>

	Ingredients: 
	<form action='/faves/get_shopping_list' method="GET">
	  
		  {% for recipe_ingredients in ingredients_needed %}
		  {% for ingredient in recipe_ingredients %}
		  <input type="checkbox" name="ingredient">
		  <label> {{ingredient.ingredient.ingredient_name}} {{ingredient.amount}} {{ingredient.metric}} 
		  </label> </br>


		  {% endfor %}
		  {% endfor %}


	</form>


{% endblock %}