{% extends 'base.html' %}

{% block title %} Your Shopping List {% endblock %}
{% block head %}  {% endblock %}
{% block body %} 
<h2> Your Shopping List and recipes have been sent to your e-mail! </h2>

<div>

	Recipe Links:
	{% for recipe in recipes_to_cook %}
	<li> <a href="/{{recipe.recipe_id}}"> {{recipe.recipe.recipe_name}} </a></li>
	{% endfor %}

	<p></p>
	Ingredients: 
	<form action='/faves/get_shopping_list' method="GET">

		  {% for item in shopping_list_dict %}

		  <input type="checkbox" name="ingredient">
		  <label> {{item.ingredient_name}} {{shopping_list_dict[item]['amount']}} 
		  				{% if shopping_list_dict[item]['metric'] != None %}
		  				{{shopping_list_dict[item]['metric']}}
		  				{% endif %}
		  </label> </br>

		  {% endfor %}


	</form>


{% endblock %}