{% extends 'base.html' %}

{% block title %} My Favorites {% endblock %}
{% block head %}  {% endblock %}
{% block body %}


<div><a href = "/"> Home </a></div>
<div><a href = "/log_out"> Logout </a></div>		



<h1> {{name}}'s Favorites </h1>

<!-- allow users to choose how many recipes to export to shopping list
 -->
<h3> Get your shopping list! </h3>
	<form action='/faves/get_shopping_list' method = "POST">
		<p>
			How many recipes do you want to cook?: 
		<input type="number" min="1" name = "num_recipes"> 
		</p>
		<p>
			<input type= "submit">
		</p>
	</form>

<!-- for favorite in favorites:
favorite.recipe (show recipe_card for each)
 -->

	{% for favorite in favorites %}
	<div> <a href="/{{favorite.recipe.recipe_id}}"> {{favorite.recipe.recipe_name}} </a>
		  Source: {{favorite.recipe.source_name}}
		  <img src = "{{favorite.recipe.image}}" >  
		  Ingredients: 
		   {% for each in favorite.recipe.recipe_ingredients %}
		  {{each.ingredient.ingredient_name}} /   
		  {% endfor %}

	</div>
	{% endfor %}


{% endblock %}