{% extends 'base.html' %}

{% block title %} My Favorites {% endblock %}
{% block head %}

<!-- <div class="top">
	<div class="title">  Fresh & Whole </div> -->
<!-- 	<div> Curated </div> -->
<!-- </div> -->


	<nav class="navbar sticky-top navbar-light navbar-expand-lg top">
<!-- 	  <a class="navbar-brand" href="#"></a> -->


<!-- 			<div class="nav-link ml-auto"> {{name}}'s favorites </div> -->
			<div> {{name}}'s Favorites </div>
			<div class="nav-link ml-auto"><a href = "/"> Home</a></div>
			<div class="nav-link"><a href = "/log_out"> Logout </a></div>	

	</nav>


{% endblock %}
{% block body %}





<!-- allow users to choose how many recipes to export to shopping list
 -->
<div class = "faves-get-list ">
	<h3 class="text-med"> Get your shopping list! </h3>
		<form action='/faves/get_shopping_list' method = "POST">

			<span class="text-sm">How many recipes do you want to cook?</span>	
			<input class="form-group input col-md-1" type="number" min="1" name = "num_recipes"> 

			<input class= "inline-btn col-xs-2" type= "submit">

		</form>
</div>
<!-- for favorite in favorites:
favorite.recipe (show recipe_card for each)
 -->

<div class="row row-cols-1 row-cols-md-3 card-container">
	{% for favorite in favorites %}
		<div class="col mb-4">
			<div class="card">
			  <a href="/{{favorite.recipe.recipe_id}}">
			  <img src="{{favorite.recipe.image}}" class="card-img-top" >
			  </a>
			  <div class="card-body" >
			    <h5 class="card-title"> {{favorite.recipe.recipe_name}} </h5>
			    <h6 class="card-subtitle mb-2 text-muted">Source: {{favorite.recipe.source_name}}</h6>

			    <p class="card-text">
			    	Ingredients: 
					  {% for each in favorite.recipe.recipe_ingredients %}
					  {{each.ingredient.ingredient_name}}{{"," if not loop.last}}     
					  {% endfor %}

			    </p>

			    <div class="text-center">
				    <button type="button" class="btn btn-outline-info unlike_btn" id="unlike_btn" name= {{favorite.recipe.recipe_id}}> &#9829;
				    </button>
				</div>
			  
			   </div>
			</div>
		</div>
	{% endfor %}

<!-- <div class="row row-cols-1 row-cols-md-3">
	{% for favorite in favorites %}
	<div class="col mb-4">
		<div class="card" style="width: 18rem;">
		<a href="/{{favorite.recipe.recipe_id}}"> {{favorite.recipe.recipe_name}} </a>
		  Source: {{favorite.recipe.source_name}}
		  <img src = "{{favorite.recipe.image}}"><br>

		  <button type="button" class="btn btn-outline-primary unlike_btn" id="unlike_btn" name={{favorite.recipe.recipe_id}}> 
		  	&#9829; </button>


		  
		  Ingredients: 
		  {% for each in favorite.recipe.recipe_ingredients %}
		  {{each.ingredient.ingredient_name}} /   
		  {% endfor %}

	{% endfor %} -->
	
	
</div>

{% endblock %}